/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
	@apply h-full overflow-hidden;
}
a {
   @apply dark:text-white text-black hover:text-blue-800 hover:dark:text-blue-50 !important;
}